<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessLogic.Properties.Settings.DB_A57252_B20ES6518ConnectionString"
            connectionString="Data Source=SQL5045.site4now.net;Initial Catalog=DB_A57252_B20ES6518;Persist Security Info=True;User ID=DB_A57252_B20ES6518_admin;Password=Ah6tqEC8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CloudControllerSoap">
                  <security mode="Transport">
                    <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                    <message clientCredentialType="Certificate" algorithmSuite="Default" />
                  </security>
                </binding>
                <binding name="CloudControllerSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint 
              address="https://localhost:44357/CloudController.asmx"
              endpointConfiguration="https://localhost:44357/CloudController.asmx"
              binding="basicHttpBinding" 
              bindingConfiguration="CloudControllerSoap"
              contract="CloudController.CloudControllerSoap" 
              name="CloudControllerSoap" />
        </client>
    </system.serviceModel>
  
</configuration>